@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #00007b;
  --card: #ffffff;
  --card-foreground: #00007b;
  --popover: #ffffff;
  --popover-foreground: #00007b;
  --primary: #00007b;
  --primary-foreground: #ffffff;
  --secondary: #f8d749;
  --secondary-foreground: #00007b;
  --muted: #f4f4f5;
  --muted-foreground: #4a68d8;
  --accent: #74dccf;
  --accent-foreground: #00007b;
  --destructive: #a52a3a;
  --destructive-foreground: #ffffff;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #00007b;
  --chart-1: #7f32d9;
  --chart-2: #f8d749;
  --chart-3: #4a68d8;
  --chart-4: #74dccf;
  --chart-5: #a52a3a;
  --sidebar: #f8f8f8;
  --success: #22c55e;
  --sidebar-foreground: #00007b;
  --sidebar-primary: #7f32d9;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #74dccf;
  --sidebar-accent-foreground: #00007b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #7f32d9;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: #00007b;
  --foreground: #ffffff;
  --card: #00005b;
  --card-foreground: #ffffff;
  --popover: #00005b;
  --popover-foreground: #ffffff;
  --primary: #7f32d9;
  --primary-foreground: #ffffff;
  --secondary: #f8d749;
  --secondary-foreground: #00007b;
  --muted: #1e1e3b;
  --muted-foreground: #74dccf;
  --accent: #4a68d8;
  --accent-foreground: #ffffff;
  --destructive: #a52a3a;
  --destructive-foreground: #ffffff;
  --border: #1e1e3b;
  --input: #1e1e3b;
  --ring: #7f32d9;
  --chart-1: #7f32d9;
  --chart-2: #f8d749;
  --chart-3: #4a68d8;
  --chart-4: #74dccf;
  --chart-5: #a52a3a;
  --sidebar: #00004b;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #7f32d9;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4a68d8;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #1e1e3b;
  --sidebar-ring: #7f32d9;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-nexa);
  --font-arabic: var(--font-helvetica-arabic);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground selection:bg-secondary;
    letter-spacing: var(--tracking-normal);
    
  }
}